@font-face {
    font-family: Gilroy;
    src: url(GilroyLight.otf);        
}
@font-face {
    font-family: Proxima;
    src: url(ProximaNovaLight.otf);    
}
@font-face {
    font-family: Prata;
    src: url(PrataRegular.ttf);    
}